@import 'keyframes.scss';

.normal-node {
  width: 30px;
  height: 30px;
  outline: 2px solid grey;
  display: inline-block;
}

.start-node {
  width: 30px;
  height: 30px;
  outline: 2px solid grey;
  background-color: green;
  display: inline-block;
}

.end-node {
  width: 30px;
  height: 30px;
  outline: 2px solid grey;
  background-color: red;
  display: inline-block;
}

.wall-node {
  width: 30px;
  height: 30px;
  outline: 2px solid grey;
  background: linear-gradient(black, black) no-repeat;
  background-position: center;
  display: inline-block;
  animation: createNode 200ms linear;
}

.visited-node {
  width: 30px;
  height: 30px;
  outline: 2px solid grey;
  background-color: blue;
  display: inline-block;
}

.path-node {
  width: 30px;
  height: 30px;
  outline: 2px solid grey;
  background-color: yellow;
  display: inline-block;
}

.results-container {
  position: relative;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 500px;
}
