@import 'keyframes.scss';

@mixin node-properties() {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  outline: 0.12rem solid grey;
}

@mixin node-styles($node-colour, $timing: 200ms, $animation: create-node) {
  background: linear-gradient($node-colour, $node-colour) no-repeat;
  background-position: center;
  animation: $animation $timing ease-out;
}

.normal-node {
  @include node-properties();
}

.start-node {
  @include node-properties();
  @include node-styles(green, 100ms);
}

.end-node {
  @include node-properties();
  @include node-styles(red, 100ms);
}

.wall-node {
  @include node-properties();
  @include node-styles(black);
}

.visited-node {
  @include node-properties();
  @include node-styles(aqua);
}

.path-node {
  @include node-properties();
  @include node-styles(yellow);
}

.results-container {
  position: relative;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 500px;
}
