@keyframes create-node {
  0% {
    opacity: 0;
    background-size: 0% 0%;
  }

  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@keyframes move-node {
  0% {
    opacity: 0.5;
    background-size: 50% 50%;
  }

  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@keyframes visit-nodes {
  0% {
    background-size: 25% 25%;
  }
  50% {
    background-image: linear-gradient(
      rgba(0, 255, 136, 0.568),
      rgba(0, 255, 55, 0.568)
    );
  }

  60% {
    background-size: 100% 100%;

    background-image: linear-gradient(rgb(57, 223, 57), rgb(57, 223, 57));
  }

  100% {
    background-image: linear-gradient(aqua, aqua);
  }
}

@keyframes test {
  0% {
    transform: scale(0);
    background-color: rgba(218, 7, 7, 0.835);
  }

  60% {
    background-color: rgb(155, 233, 240);
    transform: scale(3);
  }
  70% {
    background-color: rgba(231, 251, 251, 0.692);
    transform: scale(3);
  }

  100% {
    background-color: aqua;
    transform: scale(3);
  }
}

@keyframes draw-path {
  0% {
    opacity: 0;
    background-size: 0% 0%;
  }

  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}
