#toolbar {
  display: flex;

  background-color: rgba(109, 107, 107, 0.493);
  height: 8vh;
}

#toolbar > .app-heading-name {
  margin-left: 1rem;
  padding: 1.5rem 0;

  width: 25%;

  font-family: 'Share Tech', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

#toolbar > .buttons {
  display: flex;

  justify-content: space-around;
  align-items: center;

  width: 100%;
}
