@-webkit-keyframes create-node {
  0% {
    opacity: 0;
    background-size: 0% 0%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@keyframes create-node {
  0% {
    opacity: 0;
    background-size: 0% 0%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@-webkit-keyframes move-node {
  0% {
    opacity: 0.5;
    background-size: 50% 50%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@keyframes move-node {
  0% {
    opacity: 0.5;
    background-size: 50% 50%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

.normal-node {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  outline: 0.12rem solid grey;
}

.start-node {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  outline: 0.12rem solid grey;
  background: -webkit-gradient(linear, left top, left bottom, from(green), to(green)) no-repeat;
  background: linear-gradient(green, green) no-repeat;
  background-position: center;
  -webkit-animation: create-node 100ms ease-out;
          animation: create-node 100ms ease-out;
}

.end-node {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  outline: 0.12rem solid grey;
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(red)) no-repeat;
  background: linear-gradient(red, red) no-repeat;
  background-position: center;
  -webkit-animation: create-node 100ms ease-out;
          animation: create-node 100ms ease-out;
}

.wall-node {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  outline: 0.12rem solid grey;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(black)) no-repeat;
  background: linear-gradient(black, black) no-repeat;
  background-position: center;
  -webkit-animation: create-node 200ms ease-out;
          animation: create-node 200ms ease-out;
}

.visited-node {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  outline: 0.12rem solid grey;
  background: -webkit-gradient(linear, left top, left bottom, from(aqua), to(aqua)) no-repeat;
  background: linear-gradient(aqua, aqua) no-repeat;
  background-position: center;
  -webkit-animation: create-node 200ms ease-out;
          animation: create-node 200ms ease-out;
}

.path-node {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  outline: 0.12rem solid grey;
  background: -webkit-gradient(linear, left top, left bottom, from(yellow), to(yellow)) no-repeat;
  background: linear-gradient(yellow, yellow) no-repeat;
  background-position: center;
  -webkit-animation: create-node 200ms ease-out;
          animation: create-node 200ms ease-out;
}

.results-container {
  position: relative;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 500px;
}

#toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(109, 107, 107, 0.493);
  height: 8vh;
}

#toolbar > .app-heading-name {
  margin-left: 1rem;
  padding: 1.5rem 0;
  width: 25%;
  font-family: 'Share Tech', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

#toolbar > .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.grid {
  margin-top: 90px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */