@-webkit-keyframes create-node {
  0% {
    opacity: 0;
    background-size: 0% 0%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@keyframes create-node {
  0% {
    opacity: 0;
    background-size: 0% 0%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@-webkit-keyframes move-node {
  0% {
    opacity: 0.5;
    background-size: 50% 50%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@keyframes move-node {
  0% {
    opacity: 0.5;
    background-size: 50% 50%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@-webkit-keyframes visit-nodes {
  0% {
    background-size: 25% 25%;
  }
  50% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 255, 136, 0.568)), to(rgba(0, 255, 55, 0.568)));
    background-image: linear-gradient(rgba(0, 255, 136, 0.568), rgba(0, 255, 55, 0.568));
  }
  60% {
    background-size: 100% 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#39df39), to(#39df39));
    background-image: linear-gradient(#39df39, #39df39);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(aqua), to(aqua));
    background-image: linear-gradient(aqua, aqua);
  }
}

@keyframes visit-nodes {
  0% {
    background-size: 25% 25%;
  }
  50% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 255, 136, 0.568)), to(rgba(0, 255, 55, 0.568)));
    background-image: linear-gradient(rgba(0, 255, 136, 0.568), rgba(0, 255, 55, 0.568));
  }
  60% {
    background-size: 100% 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#39df39), to(#39df39));
    background-image: linear-gradient(#39df39, #39df39);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(aqua), to(aqua));
    background-image: linear-gradient(aqua, aqua);
  }
}

@-webkit-keyframes test {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: rgba(218, 7, 7, 0.835);
  }
  60% {
    background-color: #9be9f0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  70% {
    background-color: rgba(231, 251, 251, 0.692);
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    background-color: aqua;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@keyframes test {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: rgba(218, 7, 7, 0.835);
  }
  60% {
    background-color: #9be9f0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  70% {
    background-color: rgba(231, 251, 251, 0.692);
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    background-color: aqua;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@-webkit-keyframes draw-path {
  0% {
    opacity: 0;
    background-size: 0% 0%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@keyframes draw-path {
  0% {
    opacity: 0;
    background-size: 0% 0%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

.normal-node {
  position: relative;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  outline: 0.12rem solid grey;
}

.start-node {
  position: relative;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  outline: 0.12rem solid grey;
  background: -webkit-gradient(linear, left top, left bottom, from(green), to(green)) no-repeat;
  background: linear-gradient(green, green) no-repeat;
  background-position: center;
  -webkit-animation: create-node 100ms ease-out;
          animation: create-node 100ms ease-out;
}

.end-node {
  position: relative;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  outline: 0.12rem solid grey;
  background: -webkit-gradient(linear, left top, left bottom, from(red), to(red)) no-repeat;
  background: linear-gradient(red, red) no-repeat;
  background-position: center;
  -webkit-animation: create-node 100ms ease-out;
          animation: create-node 100ms ease-out;
}

.wall-node {
  position: relative;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  outline: 0.12rem solid grey;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(black)) no-repeat;
  background: linear-gradient(black, black) no-repeat;
  background-position: center;
  -webkit-animation: create-node 200ms ease-out;
          animation: create-node 200ms ease-out;
}

.visited-node {
  position: relative;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  outline: 0.12rem solid grey;
  overflow: hidden;
}

.visited-node::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: aqua;
  border-radius: 50%;
  -webkit-animation: test linear 2000ms forwards;
          animation: test linear 2000ms forwards;
}

.path-node {
  position: relative;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  outline: 0.12rem solid grey;
  background: -webkit-gradient(linear, left top, left bottom, from(yellow), to(yellow)) no-repeat;
  background: linear-gradient(yellow, yellow) no-repeat;
  background-position: center;
  -webkit-animation: draw-path 200ms ease-out;
          animation: draw-path 200ms ease-out;
}

.results-container {
  position: relative;
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 500px;
}

#toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(109, 107, 107, 0.493);
  height: 8vh;
}

#toolbar > .app-heading-name {
  margin-left: 1rem;
  padding: 1.5rem 0;
  width: 25%;
  font-family: 'Share Tech', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

#toolbar > .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.grid {
  margin-top: 90px;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */