.button-container {
  font-weight: bold;
  list-style-type: none;
  margin-left: 30px;
  position: relative;
  top: 70px;
  right: 30px;
}

.button-default {
  display: inline;
  margin: 5px;
}

.button-hovered {
  display: inline;
  margin: 5px;
  border: 3px solid red;
}
