#info-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  right: 0;
  width: 50%;
  height: 9%;
}

#info-container > p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.1vh;
  margin-bottom: 3.2vh;
}

.bold {
  font-weight: bold;
}
