.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-styles {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 70%;
  width: 50%;

  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: white;
  border: 0.5vh solid black;

  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 4.4vh;
    color: rgba(11, 105, 117, 0.924);
  }

  p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vh;
    text-align: center;
    color: rgba(10, 66, 73, 0.924);
  }
}
