.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-styles {
  position: absolute;

  height: 70%;
  width: 50%;

  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: white;
  border: 0.5vh solid black;

  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 4.4vh;
    color: rgba(11, 105, 117, 0.924);
  }

  p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vh;
    text-align: center;
    color: rgba(10, 66, 73, 0.924);
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
  margin: auto;
  margin-top: 1vh;
}

.page-number {
  position: absolute;
  right: 0;
  margin-right: 2vh;
  margin-top: 1vh;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3vh;
}

.arrow-icons {
  position: absolute;
  top: 50%;

  font-size: 6vh;
  cursor: pointer;
  transition: background-color ease-in 200ms;
  border-radius: 50%;

  &:hover {
    background-color: rgba(207, 207, 207, 0.5);
  }

  &:active {
    background-color: rgba(51, 51, 51, 0.534);
  }
}

.right {
  right: 0;
}

.left {
  left: 0;
}
