@import 'keyframes.scss';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.185);
  z-index: 1000;
}

.modal-styles {
  position: absolute;

  height: 70%;
  width: 50%;

  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.548);
  user-select: none;

  animation: slide-in ease-out 300ms;

  h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 4.4vh;
    color: rgba(11, 105, 117, 0.924);
  }

  p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3vh;
    text-align: center;
    color: rgba(10, 66, 73, 0.924);
  }
}

.page-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 60vh;

  margin: auto;
  margin-top: 1vh;
}

.page-two {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
  margin: auto;
  margin-top: 1vh;
}

.page-three {
  position: absolute;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 70%;
  margin: auto;
  margin-top: 1vh;

  border: 3px solid red;
}

.page-number {
  position: absolute;
  right: 0;
  margin-right: 2vh;
  margin-top: 1vh;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3vh;
}

.arrow-icons {
  position: absolute;
  top: 50%;

  font-size: 6vh;
  cursor: pointer;
  transition: background-color ease-in 200ms;
  border-radius: 50%;

  &:hover {
    background-color: rgba(207, 207, 207, 0.5);
  }

  &:active {
    background-color: rgba(51, 51, 51, 0.534);
  }
}

.arrow-icons-disabled {
  position: absolute;
  top: 50%;

  font-size: 6vh;
  opacity: 0.5;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.close-button {
  position: absolute;

  font-size: 2rem;
  top: 1vh;
  left: 1vh;

  color: rgba(0, 88, 122, 0.733);

  border-radius: 50%;
  cursor: pointer;

  transition: color ease-out 300ms;

  &:hover {
    color: rgba(124, 124, 124, 0.76);
  }
}
