.stats-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4vh;
  width: 50%;
  margin-left: 1vh;
  margin-top: 0.8vh;
}

.stats-container > p {
  font-family: 'Share Tech', sans-serif;
  font-size: 2.1vh;
  font-weight: 1rem;
}

.prev-stats-container {
  @extend .stats-container;
  top: 11vh;
}

.stats-container > .label {
  font-weight: bold;
}
