.stats-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 8vh;
  width: 50%;
  margin-left: 1rem;
}

.stats-container > p {
  font-family: 'Share Tech', sans-serif;
  font-size: 1.2rem;
  font-weight: 1rem;
}

.prev-stats-container {
  @extend .stats-container;
  top: 11vh;
}

.stats-container > .label {
  font-weight: bold;
}
