@import 'variables.scss';

#toolbar {
  display: flex;
  background-color: $primary-color;
  height: 8vh;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;

    height: 8vh;
    width: 100%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: url('../images/circuit-board.svg') repeat;
    opacity: 0.4;
    z-index: -1;
  }
}

#toolbar > .app-heading-name {
  margin-top: 1.8vh;
  margin-left: 1vh;

  width: 25%;
  color: $text-color;
  z-index: 1000;

  font-family: 'Ubuntu', sans-serif;
  font-size: 4vh;
  user-select: none;
  cursor: pointer;
}

#toolbar > .buttons {
  display: flex;

  justify-content: space-around;
  align-items: center;

  width: 100%;
}
