@-webkit-keyframes create-node {
  0% {
    opacity: 0;
    background-size: 0% 0%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@keyframes create-node {
  0% {
    opacity: 0;
    background-size: 0% 0%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@-webkit-keyframes move-node {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}

@keyframes move-node {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}

@-webkit-keyframes visit-nodes {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: rgba(218, 7, 7, 0.835);
  }
  60% {
    background-color: #9be9f0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  70% {
    background-color: rgba(231, 251, 251, 0.692);
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    background-color: aqua;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@keyframes visit-nodes {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: rgba(218, 7, 7, 0.835);
  }
  60% {
    background-color: #9be9f0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  70% {
    background-color: rgba(231, 251, 251, 0.692);
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    background-color: aqua;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@-webkit-keyframes draw-path {
  0% {
    opacity: 0;
    background-size: 0% 0%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@keyframes draw-path {
  0% {
    opacity: 0;
    background-size: 0% 0%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@-webkit-keyframes end-node-reached {
  0% {
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes end-node-reached {
  0% {
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.material-icons {
  display: none;
  position: relative;
  width: 95%;
  height: 40%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 2.7vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.normal-node {
  position: relative;
  height: 3.1vh;
  width: 3.1vh;
  border: 0.01rem solid #4b4b4b;
}

.wall-node {
  position: relative;
  height: 3.1vh;
  width: 3.1vh;
  border: 0.01rem solid #4b4b4b;
  background: -webkit-gradient(linear, left top, left bottom, from(#4b4b4b), to(#4b4b4b)) no-repeat;
  background: linear-gradient(#4b4b4b, #4b4b4b) no-repeat;
  background-position: center;
  -webkit-animation: create-node 200ms ease-out;
          animation: create-node 200ms ease-out;
}

.weight-node {
  position: relative;
  height: 3.1vh;
  width: 3.1vh;
  border: 0.01rem solid #4b4b4b;
}

.weight-node > .material-icons.weight {
  display: block;
  -webkit-animation: move-node ease-out 300ms;
          animation: move-node ease-out 300ms;
}

.weight-node-visited > .material-icons.weight {
  display: block;
}

.weight-node-path > .material-icons.weight {
  display: block;
}

.visited-node, .weight-node-visited, .start-node-visited, .end-node-visited {
  position: relative;
  height: 3.1vh;
  width: 3.1vh;
  border: 0.01rem solid #4b4b4b;
  overflow: hidden;
}

.visited-node::before, .weight-node-visited::before, .start-node-visited::before, .end-node-visited::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: aqua;
  border-radius: 50%;
  -webkit-animation: visit-nodes linear 2000ms forwards;
          animation: visit-nodes linear 2000ms forwards;
}

.path-node, .weight-node-path, .start-node-path, .end-node-found {
  position: relative;
  height: 3.1vh;
  width: 3.1vh;
  border: 0.01rem solid #4b4b4b;
  background: -webkit-gradient(linear, left top, left bottom, from(yellow), to(yellow)) no-repeat;
  background: linear-gradient(yellow, yellow) no-repeat;
  background-position: center;
  -webkit-animation: draw-path 200ms ease-out;
          animation: draw-path 200ms ease-out;
}

.start-node {
  position: relative;
  height: 3.1vh;
  width: 3.1vh;
  border: 0.01rem solid #4b4b4b;
}

.start-node > .material-icons.walk {
  display: block;
  -webkit-animation: move-node ease-out 300ms;
          animation: move-node ease-out 300ms;
  cursor: pointer;
}

.end-node {
  position: relative;
  height: 3.1vh;
  width: 3.1vh;
  border: 0.01rem solid #4b4b4b;
}

.end-node > .material-icons.flag {
  display: block;
  -webkit-animation: move-node ease-out 300ms;
          animation: move-node ease-out 300ms;
  cursor: pointer;
}

.start-node-visited > .material-icons.walk {
  display: block;
}

.start-node-path > .material-icons.walk {
  display: block;
}

.end-node-visited > .material-icons.flag {
  display: block;
}

.end-node-found > .material-icons.flag {
  display: block;
  -webkit-animation: end-node-reached ease-out 500ms;
          animation: end-node-reached ease-out 500ms;
}

#toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0f686b;
  height: 8vh;
}

#toolbar > .app-heading-name {
  margin-left: 1rem;
  padding: 1.5rem 0;
  width: 25%;
  font-family: 'Share Tech', sans-serif;
  font-size: 3vh;
  font-weight: bold;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#toolbar > .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.grid {
  position: absolute;
  width: 99%;
  height: 70%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stats-container, .prev-stats-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 8vh;
  width: 50%;
  margin-left: 1rem;
}

.stats-container > p, .prev-stats-container > p {
  font-family: 'Share Tech', sans-serif;
  font-size: 1.2rem;
  font-weight: 1rem;
}

.prev-stats-container {
  top: 11vh;
}

.stats-container > .label, .prev-stats-container > .label {
  font-weight: bold;
}

#info-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  width: 50%;
  height: 9%;
}

#info-container > p {
  font-family: 'Share Tech', sans-serif;
  font-size: 1.2rem;
}

.bold {
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */