@-webkit-keyframes create-node {
  0% {
    opacity: 0;
    background-size: 0% 0%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@keyframes create-node {
  0% {
    opacity: 0;
    background-size: 0% 0%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@-webkit-keyframes move-node {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}

@keyframes move-node {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}

@-webkit-keyframes drag-node {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes drag-node {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes visit-nodes {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: rgba(218, 7, 7, 0.63);
  }
  60% {
    background-color: rgba(155, 233, 240, 0.65);
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  70% {
    background-color: rgba(231, 251, 251, 0.692);
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    background-color: rgba(0, 255, 255, 0.418);
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@keyframes visit-nodes {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: rgba(218, 7, 7, 0.63);
  }
  60% {
    background-color: rgba(155, 233, 240, 0.65);
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  70% {
    background-color: rgba(231, 251, 251, 0.692);
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    background-color: rgba(0, 255, 255, 0.418);
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@-webkit-keyframes draw-path {
  0% {
    opacity: 0;
    background-size: 0% 0%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@keyframes draw-path {
  0% {
    opacity: 0;
    background-size: 0% 0%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@-webkit-keyframes end-node-reached {
  0% {
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes end-node-reached {
  0% {
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.material-icons {
  display: none;
  position: relative;
  width: 95%;
  height: 40%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 2.7vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.normal-node {
  position: relative;
  height: 3.1vh;
  width: 3.1vh;
  border: 0.01rem solid #162d3d8c;
}

.wall-node {
  position: relative;
  height: 3.1vh;
  width: 3.1vh;
  border: 0.01rem solid #162d3d8c;
  background: -webkit-gradient(linear, left top, left bottom, from(#162d3d8c), to(#162d3d8c)) no-repeat;
  background: linear-gradient(#162d3d8c, #162d3d8c) no-repeat;
  background-position: center;
  -webkit-animation: create-node 200ms ease-out;
          animation: create-node 200ms ease-out;
}

.weight-node {
  position: relative;
  height: 3.1vh;
  width: 3.1vh;
  border: 0.01rem solid #162d3d8c;
}

.weight-node > .material-icons.weight {
  display: block;
  -webkit-animation: move-node ease-out 300ms;
          animation: move-node ease-out 300ms;
}

.weight-node-visited > .material-icons.weight {
  display: block;
}

.weight-node-path > .material-icons.weight {
  display: block;
}

.visited-node, .weight-node-visited, .start-node-visited, .end-node-visited {
  position: relative;
  height: 3.1vh;
  width: 3.1vh;
  border: 0.01rem solid #162d3d8c;
  overflow: hidden;
}

.visited-node::before, .weight-node-visited::before, .start-node-visited::before, .end-node-visited::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 255, 255, 0.418);
  border-radius: 50%;
  -webkit-animation: visit-nodes linear 2000ms forwards;
          animation: visit-nodes linear 2000ms forwards;
}

.path-node, .weight-node-path, .start-node-path, .end-node-found {
  position: relative;
  height: 3.1vh;
  width: 3.1vh;
  border: 0.01rem solid #162d3d8c;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 0, 0.466)), to(rgba(255, 255, 0, 0.466))) no-repeat;
  background: linear-gradient(rgba(255, 255, 0, 0.466), rgba(255, 255, 0, 0.466)) no-repeat;
  background-position: center;
  -webkit-animation: draw-path 200ms ease-out;
          animation: draw-path 200ms ease-out;
}

.start-node {
  position: relative;
  height: 3.1vh;
  width: 3.1vh;
  border: 0.01rem solid #162d3d8c;
}

.start-node > .material-icons.walk {
  display: block;
  -webkit-animation: move-node ease-out 300ms;
          animation: move-node ease-out 300ms;
  cursor: pointer;
}

.end-node {
  position: relative;
  height: 3.1vh;
  width: 3.1vh;
  border: 0.01rem solid #162d3d8c;
}

.end-node > .material-icons.flag {
  display: block;
  -webkit-animation: move-node ease-out 300ms;
          animation: move-node ease-out 300ms;
  cursor: pointer;
}

.start-node-dragged {
  position: relative;
  height: 3.1vh;
  width: 3.1vh;
  border: 0.01rem solid #162d3d8c;
}

.start-node-dragged > .material-icons.walk {
  display: block;
  -webkit-animation: drag-node ease-in 1200ms infinite;
          animation: drag-node ease-in 1200ms infinite;
  cursor: pointer;
}

.start-node-visited > .material-icons.walk {
  display: block;
}

.start-node-path > .material-icons.walk {
  display: block;
}

.end-node-dragged {
  position: relative;
  height: 3.1vh;
  width: 3.1vh;
  border: 0.01rem solid #162d3d8c;
}

.end-node-dragged > .material-icons.flag {
  display: block;
  -webkit-animation: drag-node ease-in 1200ms infinite;
          animation: drag-node ease-in 1200ms infinite;
  cursor: pointer;
}

.end-node-visited > .material-icons.flag {
  display: block;
}

.end-node-found > .material-icons.flag {
  display: block;
  -webkit-animation: end-node-reached ease-out 500ms;
          animation: end-node-reached ease-out 500ms;
}

#toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #15647ac2;
  height: 8vh;
  overflow: hidden;
}

#toolbar::before {
  content: '';
  position: absolute;
  height: 8vh;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/circuit-board.svg") repeat;
  opacity: 0.4;
  z-index: -1;
}

#toolbar > .app-heading-name {
  margin-top: 1.8vh;
  margin-left: 1vh;
  width: 25%;
  color: white;
  z-index: 1000;
  font-family: 'Ubuntu', sans-serif;
  font-size: 4vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

#toolbar > .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.grid {
  position: absolute;
  width: 99%;
  height: 68%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stats-container, .prev-stats-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 8vh;
  width: 50%;
  margin-left: 1rem;
}

.stats-container > p, .prev-stats-container > p {
  font-family: 'Share Tech', sans-serif;
  font-size: 1.2rem;
  font-weight: 1rem;
}

.prev-stats-container {
  top: 11vh;
}

.stats-container > .label, .prev-stats-container > .label {
  font-weight: bold;
}

#info-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  width: 50%;
  height: 9%;
}

#info-container > p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
}

.bold {
  font-weight: bold;
}

@keyframes create-node {
  0% {
    opacity: 0;
    background-size: 0% 0%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@keyframes move-node {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
}

@keyframes drag-node {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes visit-nodes {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: rgba(218, 7, 7, 0.63);
  }
  60% {
    background-color: rgba(155, 233, 240, 0.65);
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  70% {
    background-color: rgba(231, 251, 251, 0.692);
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  100% {
    background-color: rgba(0, 255, 255, 0.418);
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@keyframes draw-path {
  0% {
    opacity: 0;
    background-size: 0% 0%;
  }
  100% {
    opacity: 1;
    background-size: 100% 100%;
  }
}

@keyframes end-node-reached {
  0% {
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.185);
  z-index: 1000;
}

.modal-styles {
  position: absolute;
  height: 70%;
  width: 56%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.548);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.548);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-animation: slide-in ease-out 300ms;
          animation: slide-in ease-out 300ms;
  font-family: 'Ubuntu' sans-serif;
}

.modal-styles h1 {
  font-weight: bold;
  font-size: 4.4vh;
  color: rgba(11, 105, 117, 0.924);
  margin-bottom: 0.5vh;
}

.modal-styles p {
  font-size: 2.5vh;
  text-align: center;
  color: rgba(10, 66, 73, 0.924);
  margin-bottom: 0.5vh;
}

.page-one {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 80%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-one > img {
  width: 30%;
}

.page-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 70%;
  margin: auto;
  margin-top: 1vh;
}

.page-two > img {
  width: 80%;
  margin-top: 3vh;
}

.page-three {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 85%;
  margin-top: 1vh;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.page-three > img {
  width: 85%;
}

.page-number {
  position: absolute;
  right: 0;
  margin-right: 2vh;
  margin-top: 1vh;
  font-family: 'Ubuntu' sans-serif;
  font-size: 3vh;
}

.arrow-icons {
  position: absolute;
  top: 50%;
  font-size: 6vh;
  cursor: pointer;
  -webkit-transition: background-color ease-in 200ms;
  transition: background-color ease-in 200ms;
  border-radius: 50%;
}

.arrow-icons:hover {
  background-color: rgba(207, 207, 207, 0.5);
}

.arrow-icons:active {
  background-color: rgba(51, 51, 51, 0.534);
}

.arrow-icons-disabled {
  position: absolute;
  top: 50%;
  font-size: 6vh;
  opacity: 0.5;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.close-button {
  position: absolute;
  font-size: 3vh;
  top: 1vh;
  left: 1vh;
  color: rgba(0, 88, 122, 0.733);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: color ease-out 300ms;
  transition: color ease-out 300ms;
}

.close-button:hover {
  color: rgba(124, 124, 124, 0.76);
}
/*# sourceMappingURL=main.css.map */