@import '~material-design-icons/iconfont/material-icons.css';
@font-face {
  font-family: 'Share Tech';
  src: url(./fonts/ShareTechMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Padauk';
  src: url(./fonts/Padauk-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  src: url(./fonts/Ubuntu-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url(./fonts/Ubuntu-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url(./fonts/Ubuntu-Medium.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
